<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guozengxin.miedao.mapper.NoteMapper" >
  <resultMap id="BaseResultMap" type="com.guozengxin.miedao.model.Note" >
    <id column="n_id" property="n_id" jdbcType="INTEGER" />
    <result column="n_pic" property="n_pic" jdbcType="VARCHAR" />
    <result column="n_content" property="n_content" jdbcType="VARCHAR" />
    <result column="u_id" property="u_id" jdbcType="INTEGER" />
    <result column="u_pic" property="u_pic" jdbcType="VARCHAR" />
    <result column="n_likes" property="n_likes" jdbcType="INTEGER" />
    <result column="n_time" property="n_time" jdbcType="TIMESTAMP" />
    <result column="n_remark" property="n_remark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from note
    where n_id = #{n_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guozengxin.miedao.model.Note" >
    <selectKey resultType="java.lang.Integer" keyProperty="n_id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into note (n_pic, n_content, u_id, 
      u_pic, n_likes, n_time, 
      n_remark)
    values (#{n_pic,jdbcType=VARCHAR}, #{n_content,jdbcType=VARCHAR}, #{u_id,jdbcType=INTEGER}, 
      #{u_pic,jdbcType=VARCHAR}, #{n_likes,jdbcType=INTEGER}, #{n_time,jdbcType=TIMESTAMP}, 
      #{n_remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.guozengxin.miedao.model.Note" >
    update note
    set n_pic = #{n_pic,jdbcType=VARCHAR},
      n_content = #{n_content,jdbcType=VARCHAR},
      u_id = #{u_id,jdbcType=INTEGER},
      u_pic = #{u_pic,jdbcType=VARCHAR},
      n_likes = #{n_likes,jdbcType=INTEGER},
      n_time = #{n_time,jdbcType=TIMESTAMP},
      n_remark = #{n_remark,jdbcType=VARCHAR}
    where n_id = #{n_id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select n_id, n_pic, n_content, u_id, u_pic, n_likes, n_time, n_remark
    from note
    where n_id = #{n_id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select n_id, n_pic, n_content, u_id, u_pic, n_likes, n_time, n_remark
    from note
  </select>
</mapper>